.patient-page {
    display: flex;
    justify-content: center;
    width: 1250px;
}

.content-container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #3f51b5;
}

h2 {
    color: white;
}
  
table {
    width: 100%;
    margin-bottom: 20px;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}
  
button[type="submit"] {
    align-self: flex-start;
}

button[type="button"] {
    align-self: flex-start;
    margin-left: 10px;
}

.edit-button {
    color: blue;
}

.delete-button {
    color: red;
}