.doctor-dialog {
    width: 350px;
}

.input-item {
    width: 100%;
}

mat-form-field {
    display: block;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.mat-form-field {
    margin-bottom: 20px;
}

.mat-raised-button {
    background-color: #3f51b5;
    color: white;
}